.card img {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
.card {
	position: relative;
	display: inline-block;
	width: 148px;
	height: 180px;
	margin: 4px;
	border-radius: 10px;
	box-shadow: 0 0 10px #000000;
	text-align: center;
}
.card .background {
	position: absolute;
	top: 0;
	left: 0;
	width: 148px;
	height: 180px;
	border-radius: 10px 10px 0px 0px;
}
.card .content {
	position: absolute;
	top: 0;
	border-radius: 10px 10px 0px 0px;
}
.card .content img {
	width: 148px;
	height: 148px;
}
.card .star {
	position: absolute;
	bottom: 24px;
	width: 100%;
	text-align: center;
}
.card .star img {
	height: 32px;
	margin: -4px;
}
.card .label {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 32px;
	line-height: 32px;
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}
.card .label span {
	color: #495366;
	font-size: 24px;
	vertical-align: baseline;
}
 
